<div class="clearfix">
    <form ng-show="user == undefined" ng-submit="login()" ng-class="loginError ? 'has-error' : ''">
        <div class="input-group" style="width: 200px; float: left; margin-right: 10px">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <input ng-model="username" type="text" class="form-control" placeholder="Username">
        </div>

        <div class="input-group" style="width: 200px; float: left; margin-right: 10px">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <input ng-model="password" type="password" class="form-control" placeholder="Password">
        </div>

        <button type="submit" class="btn ladda-button pull-right" ng-class="loginError ? 'btn-danger' : 'btn-success'" data-color="blue" data-style="zoom-in" ng-ladda="loading" style="float: left"><span class="ladda-label">Log in</span></button>
    </form>
    <div ng-show="user != undefined">
        <span style="float: left; margin-right: 15px; line-height: 35px">{{ user.name }}</span>
        <button ng-click="logout()" class="btn btn-default pull-right">Logout</button>
    </div>
</div>