<div class="clearfix login-box">
    <form ng-show="user == undefined" ng-submit="login()" ng-class="loginError ? 'has-error' : ''">
        <div class="username input-group">
            <span class="login-input-icon input-group-addon"><i class="fa fa-user"></i></span>
            <input class="login-input form-control" ng-model="username" type="text" placeholder="Username">
        </div>

        <div class="password input-group">
            <span class="login-input-icon input-group-addon"><i class="fa fa-lock"></i></span>
            <input class="login-input form-control" ng-model="password" type="password" placeholder="Password">
        </div>

        <button type="submit" class="submit ladda-button btn pull-right" ng-class="loginError ? 'btn-danger' : 'btn-success'" data-color="blue" data-style="zoom-in" ng-ladda="loading"><span class="ladda-label">Log in</span></button>
    </form>
    <div ng-show="user != undefined" class="logout-box">
        <span class="username">{{ user.name }}</span>
        <button class="button btn btn-default pull-right" ng-click="logout()">Logout</button>
    </div>
</div>